<h2 class="my-4 mx-2">Welcome to Click2Learn !!!</h2>
<h5 class="mx-2">Welcome to Click to Learn, your premier destination for individualized and effortless course creation and e-learning. In today's fast-paced world, 
    the demand for accessible and customizable learning experiences has never been higher. Click to Learn emerges as a dynamic platform,
     revolutionizing the way you engage with educational content.</h5>
<h4 class="my-4 mx-2">Please choose your login type.</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-box">
                <div style="width: 100%" class="mt-0">
                    <div style="width: 50%; float: right">
                        <button type="button" class="btn btn-primary btn-lg show-modal" data-bs-toggle="modal"
                            data-bs-target="#myModal" (click)="userSelect('S')">
                            STUDENT LOGIN
                        </button>
                    </div>
                    <div style="width: 50%; float: right">
                        <button disabled type="button" class="btn btn-primary btn-lg show-modal" title ="Temporarily out of service" data-bs-toggle="modal"
                            data-bs-target="#myModal" (click)="userSelect('I')">
                            INSTRUCTOR LOGIN
                        </button>
                    </div>
                </div>
                <div class="modal" id="myModal" tabindex="-1" data-bs-backdrop="static" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content clearfix">
                            <div class="modal-content clearfix">
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body">
                                    <div class="modal-icon">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                    <h3 class="title">
                                        Hello {{ selectedUser === 'S' ? 'Student': 'Instructor'}}! <span>Welcome back
                                            :)</span>
                                    </h3>
                                    <div class="form-group mb-2">
                                        <input type="text" class="form-control" placeholder="Username" required="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                            required="" />
                                    </div>
                                    <button class="btn mb-0">Login</button>
                                    <hr *ngIf="selectedUser === 'S'" />
                                    <div *ngIf="selectedUser === 'S'" class="w-100 mb-3">
                                        <div class="form-group cursor" style="float: left; width: 20%;">
                                            <a routerLink="/login">
                                                <img src="../../assets/images/google.png" alt="google" />
                                            </a>
                                        </div>
                                        <div class="form-group cursor" style="width: 40%;">
                                            <a (click)="fbLogin(true)" data-bs-dismiss="modal">
                                                <img src="../../assets/images/facebook.png" alt="facebook" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br *ngIf="selectedUser === 'I'">
                                <div class="modal-footer">
                                    <ul>
                                        <li><a href="">Forgot Password ?</a></li>
                                        <li><a href="">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>