<div class="cart-container">    
    <div style="font-size: 35px; margin-top: 10%; color: black;" *ngIf="cartItems.length === 0; else cartContent" class="empty-cart-message">
      Your cart is empty
    </div>
  
    <ng-template #cartContent>
      <div class="cart-items">
        <div class="cart-item" style="background-color: white;" *ngFor="let item of cartItems">
          <img [src]="item.image" alt="{{ item.title }}" class="cart-item-image" />
          <div class="cart-item-details">
            <h3 class="cart-item-title">{{ item.title }}</h3>
            <p class="cart-item-description">{{ item.description }}</p>
            <p class="cart-item-price">${{ item.price }}</p>
          </div>
          <button class="remove-item-button mx-2" (click)="removeFromCart(item)">Remove</button>
        </div>
      </div>
    </ng-template>
    <h4  *ngIf="cartItems.length > 0" >Total amount: ${{amount}}</h4>
    <br>
    <button *ngIf="cartItems.length > 0" class="buy-now-button" (click)="buyNow()">Buy Now</button>
  </div>

  <!-- PayPal Popup -->
<div class="paypal-popup" #paypalPopup>
    <div class="paypal-popup-content">
        <div id="paypal-button-container"></div>
    </div>
</div>

<!-- free card: 371449635398431 -->
